rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default catch-all deny rule
    match /{document=**} {
      allow read, write: if false;
    }

    match /focus_stats/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /user_profiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
